#title {
    position: absolute;
width: 250px;
height: 41px;

font-family: Courier Prime;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
color: #FFFFFF;
}
#Name {
    color: blueviolet;
}